name: cs_nuget_pkg_test

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: EngageSoftware/EngageSoftware.Dnn.Logging

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 7.0.x

    - uses: actions/cache@v5
      with:
        path: ${{ env.NUGET_PACKAGES }}
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: ${{ runner.os }}-nuget-

    - name: Restore NuGet packages
      run: dotnet restore --locked-mode

    - name: Set version suffix to alpha-${{ github.run_number }}
      # if: github.event_name != 'release' || github.event.action != 'created'
      run: "'VERSION_SUFFIX=alpha-${{ github.run_number }}' >> $env:GITHUB_ENV"

    - name: Build
      run: |
        dotnet build EngageSoftware.Dnn.Logging.sln `
          --no-restore --configuration=Release `
          -p:VersionSuffix=${{ env.VERSION_SUFFIX }}

    - name: Package
      run: |
        dotnet pack EngageSoftware.Dnn.Logging.sln `
          --no-build `
          --configuration=Release `
          -p:VersionSuffix=${{ env.VERSION_SUFFIX }} `
          --output dist/

    - name: Check
      shell: bash
      run: ls -hl dist/

    - name: Upload build artifacts
      uses: actions/upload-artifact@v5
      with:
        path: dist/

    # - name: Push packages to NuGet
    #   run: |
    #     dotnet nuget push dist/ \
    #       --source https://api.nuget.org/v3/index.json \
    #       --symbol-source https://api.nuget.org/v3/index.json \
    #       --api-key ${{ secrets.NUGET_PUSH_KEY }}
