name: docker_secrets_test

on: workflow_dispatch

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver-opts: network=host

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./docker-secrets-test
        push: true
        tags: localhost:5000/docker-secrets-test:latest
        secret-files: |
          "secrets=./docker-secrets-test/secrets.json"

    - name: Check
      run: |
        docker run --rm localhost:5000/docker-secrets-test:latest cat secret.txt
