name: samtools

on: workflow_dispatch

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: erinyoung/ACI

    - name: Check samtools
      continue-on-error: true
      run: |
        pwd && ls -lh && tree
        ls -lh ./bin/samtools/samtools
        file ./bin/samtools/samtools
        ldd ./bin/samtools/samtools
        ./bin/samtools/samtools version
  
    - name: Build and install samtools from source
      env:
        URL: https://github.com/samtools/samtools/releases/download/1.17/samtools-1.17.tar.bz2
      run: |
        sudo apt install -y libbz2-dev liblzma-dev
        wget "$URL"
        tar -xvf samtools-1.17.tar.bz2
        cd samtools-1.17
        ./configure --prefix=$PWD
        make
        make install
        ls -lh bin/samtools
        ldd bin/samtools
        echo "$PWD/bin" >> "$GITHUB_PATH"

    - name: Check samtools version
      run: |
        whereis samtools
        ls -lh $(which samtools)
        samtools version
