name: github_pages_deployment

on:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup
      run: |
        mkdir _site
        cat >"_site/index.html" <<EOF
        {
          "date": "$(date --utc)",
          "github.event_name": "${{ github.event_name }}",
          "github.ref_name": "${{ github.ref_name }}",
          "github.sha": "${{ github.sha }}"
        }
        EOF

    - name: Upload GitHub Pages artifact
      id: upload
      uses: actions/upload-pages-artifact@v4

    - name: Download Github Pages artifact
      # if: ${{ github.event_name == 'release' }}
      uses: actions/download-artifact@v4
      with:
        name: github-pages

    - name: Upload release artifact
      # if: ${{ github.event_name == 'release' }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        zip github-pages artifact.tar
        cp github-pages.zip github-pages
        ls -l
        # gh release upload '${{ github.ref_name }}' github-pages
        gh release upload 'v1.2.3-ghp-1' github-pages

    - name: Deploy to GitHub Pages
      id: deploy
      uses: actions/deploy-pages@v4

    - name: Verify
      env:
        ARTIFACT_ID: ${{ steps.upload.outputs.artifact_id }}
        URL: ${{ steps.deploy.outputs.page_url }}
      run: |
        {
          echo "### \`artifact_id\`: \`$ARTIFACT_ID\`"
          echo "### curl output:"
          echo '```json'
          curl -s "$URL" | jq .
          echo '```'
        } | tee -a "$GITHUB_STEP_SUMMARY"
