name: github_pages_deployment

on:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-slim

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Create site
      run: |
        mkdir site
        cd site
        cat > index.html <<EOF
          <!DOCTYPE html>
          <html>
          <head>
            <title>GiHub Pages Test</title>
          </head>
          <body>
            <ul>
              <li><code>github.event_name: ${{ github.event_name }}</code></li>
              <li><code>github.ref_name:   ${{ github.ref_name }}</code></li>
              <li><code>github.sha:        ${{ github.sha }}</code></li>
              <li><code>date:              $(date --utc)</code></li>
            </ul>
          </body>
          </html>
        EOF

    - name: Upload GitHub Pages artifacts
      uses: actions/upload-pages-artifact@v4
      with:
        path: site

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
