name: github_pages_deployment

on:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-slim

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
    - name: Setup
      run: |
        mkdir _site
        cat >"_site/index.html" <<EOF
        {
          "date": "$(date --utc)",
          "github.event_name": "${{ github.event_name }}",
          "github.ref_name": "${{ github.ref_name }}",
          "github.sha": "${{ github.sha }}"
        }
        EOF

    - name: Upload GitHub Pages artifact
      id: upload
      uses: actions/upload-pages-artifact@v4

    - name: Deploy to GitHub Pages
      id: deploy
      uses: actions/deploy-pages@v4

    - name: Verify
      env:
        ARTIFACT_ID: ${{ steps.upload.outputs.artifact_id }}
        URL: ${{ steps.deploy.outputs.page_url }}
      run: |
        {
          echo "### \`artifact_id\`: \`$ARTIFACT_ID\`"
          echo "### curl output:"
          echo '```json'
          curl -s "$URL" | jq .
          echo '```'
        } | tee -a "$GITHUB_STEP_SUMMARY"
