name: java_mvn_test

on: workflow_dispatch

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: paras21avenue/denodo

    - name: Set up JDK 1.8
      uses: actions/setup-java@v5
      with:
        java-version: 1.8

    - name: Build with Maven
      run: |
        cd denodoproject
        mvn clean test
