name: python_test

on: workflow_dispatch

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: duri0214/portfolio

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.8
        cache: pip

    - name: Set up and run tests
      env:
        DB_ENGINE: django.db.backends.mysql
        DB_NAME: portfolio
        DB_USER: root
        DB_PASSWORD: root
      run: |
        # https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md#mysql
        sudo systemctl start mysql
        mysql -u$DB_USER -p$DB_PASSWORD -e "CREATE DATABASE $DB_NAME;"
        mysql -u$DB_USER -p$DB_PASSWORD -e "SHOW DATABASES;"
        python3 --version
        python3 -m venv venv
        . venv/bin/activate
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        cd mysite
        python manage.py makemigrations register
        python manage.py makemigrations vietnam_research gmarker shopping linebot warehouse
        python manage.py migrate
        export DJANGO_SECRET_KEY="$(base64 <<< "$RANDOM|TeStiNg|$RANDOM" | tr -d '\n')"
        python manage.py test
