name: python_build_world

on: workflow_dispatch

jobs:
  ci:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: NOTMEE12/WorldD

    - name: Build
      run: |
        python -m pip install pip --upgrade
        pip install build
        python -m build
