name: test_action

on: workflow_dispatch

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout [${{ github.repository }}]
      uses: actions/checkout@v6

    - name: Test
      uses: ./.github/actions/test
