name: vault

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      vault:
        image: hashicorp/vault:latest
        ports:
          - 8200:8200
        env:
          VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
          VAULT_DEV_ROOT_TOKEN_ID: my-root-token
        options: >-
          --cap-add IPC_LOCK
          --health-cmd "curl -f http://0.0.0.0:8200/v1/sys/health || exit 1"
          --health-interval 20s
          --health-timeout 60s
          --health-retries 50

    env:
      VAULT_ADDR: http://0.0.0.0:8200
      VAULT_DEV_ROOT_TOKEN_ID: my-root-token

    steps:
      - name: Login
        run: vault login "$VAULT_DEV_ROOT_TOKEN_ID"

      - name: Set
        run: vault kv put docker/config image=alpine:latest

      - name: Get
        run: vault kv get docker/config
