name: vault

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
  VAULT_ADDR: http://localhost:8200
  VAULT_DEV_ROOT_TOKEN_ID: my-root-token

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      vault:
        image: hashicorp/vault:latest
        ports:
          - 8200:8200
        options: >-
          --cap-add IPC_LOCK
          --health-cmd "vault status -sealed || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Login
        run: vault login "$VAULT_DEV_ROOT_TOKEN_ID"

      - name: Set
        run: vault kv put docker/config image=alpine:latest

      - name: Get
        run: vault kv get docker/config
