name: zsv_msys2

on: workflow_dispatch

jobs:
  ci:
    runs-on: windows-latest

    defaults: 
      run:
        shell: msys2 {0}

    steps:
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: false
        install: >
          git
          curl
          tmux
          base-devel
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-make
          mingw-w64-x86_64-ncurses
          mingw-w64-x86_64-sqlite3

    - name: Configure Git for line endings
      run: git config --global core.autocrlf input

    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: liquidaty/zsv

    - name: Build zsv
      env:
        MSYS: winsymlinks:lnk
        PREFIX: amd64-windows-mingw
        CC: x86_64-w64-mingw32-gcc
        MAKE: make
        RUN_TESTS: true
        ARTIFACT_DIR: .artifacts
        SKIP_TAR_ARCHIVE: true
        SKIP_ZIP_ARCHIVE: true
        CMP: diff --ignore-trailing-space
      run: ./scripts/ci-build.sh
